<div>
    <div>
        <md-toolbar color="warn">
            <span >Campus Recruitment System</span>
            <span class="example-fill-remaining-space"></span>
            <span routerLink="/login">Log in</span>
            &nbsp;
            &nbsp;
            &nbsp;
            <span routerLink="/signup">Sign up</span>
            <span *ngIf="af.auth | async" (click)="logout()">Log Out</span>
            &nbsp;
            &nbsp;
            &nbsp;
        </md-toolbar>
        <router-outlet class="main"></router-outlet>
    </div>
</div>
<md-card>
    <ul class="menu">
        <li *ngIf="af.auth | async">LOGGED IN</li>
        <li *ngIf="!(af.auth | async)">NOT LOGGED IN</li>
        <!--<li><a href="https://blog.khophi.co/angularfire2-authentication/" target="new">Read: AngularFire2 Authentication Article</a></li>-->
    </ul>
</md-card>