<div class="row">
  <div class="small-12 medium-8 medium-centered large-6 large-centered columns">
    <div class="callout alert" *ngIf="error">
      {{ error }}
    </div>
    <h2>Login</h2>
    <form #formData='ngForm' (ngSubmit)="onSubmit(formData)">
      <div class="row">
        <div class="small-12 columns">
          <label> Enter email address
            <input type="email" name="email" placeholder="e.g email@address.com" (ngModel)="email" requred>
          </label>
        </div>
        <div class="small-12 columns">
          <label> Password
            <input type="password" name="password" (ngModel)="password" required>
          </label>
        </div>
        <div class="small-12 columns">
          <button type="submit" class="button" [disabled]="!formData.valid">Submit</button>
          <br/>
          <a routerLink="/signup">Don't have an account?</a> &bull; <a routerLink="/password-reset">Forgotten password?</a>
        </div>
      </div>
    </form>
  </div>
</div>
<!--<h1 md-dialog-title>Login</h1>-->
<!--<md-dialog-content>-->
  <!--<form autocomplete="off" novalidate [formGroup]="form" >-->
    <!--<md-input-container dividerColor="accent">-->
      <!--<input md-input placeholder="Email" formControlName="name" value="Crock Pot Roast">-->
      <!--<span style="color: red" *ngIf="form.get('email').dirty && form.get('email').hasError('required')">Field required</span>-->
    <!--</md-input-container>-->
    <!--<md-input-container dividerColor="accent">-->
      <!--<input md-input placeholder="password" formControlName="password" >-->
      <!--<span style="color: red" *ngIf="form.get('password').dirty && form.get('password').hasError('required')">Field required</span>-->
    <!--</md-input-container>-->
  <!--</form>-->
  <!--<button md-raised-button color="accent"(click)="dialogRef.close(form)" [disabled]="!form.valid">SAVE</button>-->
  <!--<button md-raised-button color="warn" md-dialog-close>CANCEL</button>-->
  <!--<a routerLink="/signup">Don't have an account?</a> &bull; <a routerLink="/password-reset">Forgotten password?</a>-->
<!--</md-dialog-content>-->
